.toggle-menu {
  width: 40px;
  /* height: 30px; */
  display: flex;
  flex-direction: column;
  gap: 6px;

  margin: 5px;
  margin-top: 20px;
}

.toggle-menu div {
  border: 3px solid var(--theme_white);
}

.grid-square {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.1rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1rem;
  text-align: center;

  /* font-weight: 800;*/
}

/* The label and the add Button */
/* .grid-square :nth-child(1) { */

   .grid-square div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 50%;
  font-size: 1.5em;
}

.grid-square div:nth-child(1) :nth-child(2) >span {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--theme_green);
  font-size: 1em;
  color: var(--theme_white);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}



.event-container {
  text-align: center;
  width: 100%;
}

.event-container li {
  width: 100%;
  border-radius: 0.2rem;
  padding: 0.1rem;
  color: var(--theme_white);
  font-size: 0.9em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.event-container li:nth-child(odd) {
  background: rgba(255, 0, 0, 0.7);
}
.event-container li:nth-child(even) {
  background: #ffbc34;
}
.event-container li:nth-child(1) {
  background: var(--theme_event_green);
}
.event-container li:nth-child(2) {
  background: var(--theme_purple);
  color: var(--theme_blue);
}
.event-container li:nth-child(3) {
  background: #009efb;
}

.grid-box {
  border: 1px solid black;
  border-collapse: collapse;
  margin-inline: auto;
}
