.toggle-menu{
    width:40px;
    /* height: 30px; */
    display: flex;
    flex-direction: column;
    gap:6px;
  
    margin: 5px;
    margin-top:20px;
}


.toggle-menu div{
    border: 3px solid var(--theme_white);

}

.grid-square{
    border:1px solid black;
    border-collapse: collapse;
    padding: 2px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.grid-box{
    border:1px solid black;
    border-collapse: collapse;
   margin-inline: auto;
}
